
_bin

app/_build/
# The directory Mix will write compiled artifacts to.

app/cover/
# If you run "mix test --cover", coverage assets end up here.

app/deps/
# The directory Mix downloads your dependencies sources to.

app/doc/
# Where 3rd-party dependencies like ExDoc output generated docs.

app/.fetch
# Ignore .fetch files in case you like to edit your project deps locally.

app/erl_crash.dump
# If the VM crashes, it generates a dump, let's ignore it too.

app/*.ez
# Also ignore archive artifacts (built via "mix archive.build").
